 @import "compass/reset";
 @import "simple-line-icons";
 @import "elements/vars";
 @import "elements/buttons";
 @import "elements/buttonGroup";
 @import "elements/grid";
 @import "elements/align";
 @import "elements/header";
 @import "elements/label";
 @import "elements/card";
 @import "elements/list";
 @import "elements/form";
 @import "elements/progress";
 @import "elements/modal";
 @import "elements/alert";
 @import "elements/img";
 @import "elements/message";
 @import "elements/text";
 @import "elements/pagination";
 @import "elements/table";
 
 @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

 :not(*[class*="icon"]){
 	font-family: 'Open Sans Condensed', sans-serif !important;
 }

 *{
 	box-sizing: border-box;
 }