.alert{
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: $radius;
	background: $default;
	border: 1px solid darken($default, 5%);

	&.primary{
		background: $primary;
		color: #fff;
		border-color: darken($primary, 5%);
	}

	&.secundary{
		background: $secundary;
		color: #fff;
		border-color: darken($secundary, 5%);
	}

	&.success{
		background: $success;
		color: #fff;
		border-color: darken($success, 5%);
	}

	&.info{
		background: $info;
		color: #fff;
		border-color: darken($info, 5%);
	}

	&.danger{
		background: $danger;
		color: #fff;
		border-color: darken($danger, 5%);
	}
}