@import "colors";


button{
	@extend .theme-fx;

	&.block{
		width: 100%;
	}

	&.stroke{
		background: transparent;
		border: 1px solid darken($default, 20%);
		color: darken($default, 20%);
		box-shadow: none !important;

		&:hover{
			background: $default;
			border: 1px solid transparent;
			color: #000;
			box-shadow: none !important;
		}
	}

	.icon{
		margin-right: 5px;
	}

	&.large{
		font-size: 14pt;
		min-height: 46px;
		padding: 0 25px;
	}

	&.small{
		font-size: 10pt;
		min-height: 26px;
		padding: 0 10px;
	}

	&.mini{
		font-size: 8pt;
		min-height: 20px;
		padding: 0 8px;
	}

	&[class="disable"]{
		pointer-events: none;
		cursor: default;
		opacity: 0.8;
	}

	$colour-cout: 0;
	@each $color in $color-list{
		$colour-cout: $colour-cout + 1;
		$color-name: nth($color-list-name, $colour-cout);

		&.#{$color-name} {
			background: $color linear-gradient(lighten($color,5%), darken($color, 5%));
			color: #fff;
			box-shadow: 0px 0px 0px 1px $color inset, 0 2px 0 rgba(255, 255, 255, 0.15) inset;

			&:hover{
				background: $color;
				color: #fff;
			} 

			&.stroke{
				background: transparent;
				border: 1px solid $color;
				color: $color;

				&:hover{
					background: $color;
					border: 1px solid transparent;
					color: #fff;
					box-shadow: none !important;
				}
			}
		}
	}


	&:hover{
		&:not(&[class="disable"]){
			transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
			will-change: '';
			-webkit-tap-highlight-color: transparent;
			background: $default;
			color: #000;
		}
	}

	
}