.card{
	position: relative;
	margin: 0.5rem 0 1rem 0;
	background-color: #fff;
	transition: box-shadow .25s;
	border-radius: $radius;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	.title{
		font-size: 12pt;
		font-weight: bold;
		width: 100%;
		float: left;
	}

	.content{
		width: 100%;
		float: left;
	}

	.footer{
		border-top: 1px solid rgba(160,160,160,0.2);
		width: 100%;
		float: left;
	}
}