$red            : #DB2828;
$orange         : #F2711C;
$yellow         : #EAAE00;
$olive          : #B5CC18;
$green          : #21BA45;
$teal           : #00B5AD;
$blue           : #1678C2;
$violet         : #6435C9;
$purple         : #A333C8;
$pink           : #E03997;
$brown          : #A5673F;
$grey           : #E0E1E2;
$black          : #27292A;

$default        : $grey;
$primary        : $blue;
$secundary      : $black; 
$info           : $teal;
$success        : $green; 
$danger         : $red; 


$color-list: $red $orange $yellow $olive $green $teal $blue $violet $purple $pink $brown $grey $black $default $primary $secundary $info $success $danger; 
$color-list-name: "red", "orange", "yellow", "olive", "green", "teal", "blue", "violet", "purple", "pink", "brown", "grey", "black", "default", "primary", "secundary", "info", "success", "danger"; 
