@import "colors";

form{
	float: left;
	width: 100%;

	.group{
		padding: 10px 0;
		float: left;
		width: 100%;
	}

	label{
		float: left;
		width: 100%;
		margin-bottom: 5px;
	}

	input[type="text"],input[type="email"],input[type="phone"],input[type="number"], textarea, select{
		background: #fff;
		width: 100%;
		box-shadow: inset 0 2px 5px -1px rgba(0,0,0,0.1);
		border: 1px solid darken($default, 5%);
		padding: 10px;
		border-radius: $radius;
		display: inline-block;
		min-height: 36px;
		color: #000;
		font-size: 12pt;

		&:focus{
			border-color: $secundary
		}
	}

	.radio{
		float: left;

		label {
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding-left: 25px;
			margin-right: 15px;
			font-size: 13px;
		}

		label:before {
			content: " ";
			display: inline-block;
			width: 14px;
			height: 14px;
			margin-right: 2px;
			position: absolute;
			border-radius: 50px;
			left: 0;
			bottom: 1px;
			border: 1px solid $default;
			box-shadow: inset 0px 1px 3px -2px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
		}

		input[type=radio] {
			display: none;
		}
		input[type=radio]:checked + label:before {
			content: "\2022";
			color: $secundary;
			font-size: 28px;
			text-align: center;
			line-height: 14px;
		}

	}

	.check{
		float: left;
		
		label {
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding-left: 25px;
			margin-right: 15px;
			font-size: 13px;
		}

		label:before {
			content: " ";
			display: inline-block;
			width: 14px;
			height: 14px;
			margin-right: 2px;
			position: absolute;
			border-radius: $radius;
			left: 0;
			bottom: 1px;
			border: 1px solid $default;
			box-shadow: inset 0px 1px 3px -2px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
		}

		input[type=checkbox] {
			display: none;
		}
		input[type=checkbox]:checked + label:before {
			content: "\2713";
			color: $secundary;
			font-size: 24px;
			text-align: center;
			line-height: 8px;
		}

	}


}