$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 980px;
$p-max: 100;
$m-max: 100;

.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.row{
	width: 100%;
	margin: 0 auto;
	clear: both;
	float: left;
}

[class*="column-"] {
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
}

@for $i from 1 through $grid-columns{ 
  .column-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

@for $i from 1 through $p-max{ 
  .p-#{$i} {
    padding: 0px + $i;
  }
}

@for $i from 1 through $p-max{ 
  .ptb-#{$i} {
    padding: 0px + $i 0;
  }
}

@for $i from 1 through $m-max{ 
  .m-#{$i} {
    padding: 0px + $i;
  }
}

@for $i from 1 through $m-max{ 
  .mtb-#{$i} {
    padding: 0px + $i 0;
  }
}