@import "colors";

header{
	width: 100%;
	height: 60px;
	float: left;
	background: $default;
	border: 1px solid  darken($default, 5%);

	&.raduis{
		border-radius: $radius;
		overflow: hidden;
	}

	&.top-raduis{
		border-radius: $radius $radius 0 0;
		overflow: hidden;
	}

	&.bottom-raduis{
		border-radius: 0 0 $radius $radius;
		overflow: hidden;
	}

	&.inverter{
		border: 1px solid  darken($secundary, 5%);
		background: $secundary;

		.brand{
			a{
				color: #fff;
				background: darken($secundary, 10%);
			}
		}

		ul{
			li{
				a{
					color: #fff;
					&:hover{
						background: darken($secundary, 10%);
					}
				}
			}
		}
	}

	a{
		text-decoration: none;
	}

	.brand{
		height: 58px;
		float: left;
		a{
			font-weight: bold;
			font-size: 14pt;
			text-transform: uppercase;
			height: 58px;
			line-height: 58px;
			padding: 0 20px;
			float: left;
			color: $primary;
			background: darken($default, 10%);
		}
	}

	ul{
		display: inline-block;
		margin: 0;
		padding: 0;
		height: 60px;

		li{
			float: left;
			height: 60px;
			line-height: 60px;

			a{
				width: 100%;
				float: left;
				height: 60px;
				padding: 0 15px;
				color: #000;

				&:hover{
					background: darken($default, 10%);
				}
			}

			&.active{
				a{
					background: darken($default, 10%);	
				}
			}
		}
	}
}