@import "colors";


.label{
	background: $default;
	padding: 5px;
	border-radius: $radius;
	display: inline-block;
	color: #000;
	font-size: 12pt;

	&.icon{
		margin-right: 5px;
	}

	&.large{
		font-size: 14pt;
		min-height: 46px;
		padding: 0 25px;
	}

	&.small{
		font-size: 10pt;
		min-height: 26px;
		padding: 0 10px;
	}

	&.mini{
		font-size: 8pt;
		min-height: 20px;
		padding: 0 8px;
	}



	&:hover{
		background: darken($default,10%);
		color: #000;
	}

	&.primary{
		background: $primary;
		color: #fff;
		border-color: darken($primary, 5%);

		&:hover{
			background: darken($primary,10%);
			color: #fff;
		} 			
	}

	&.secundary{
		background: $secundary;
		color: #fff;
		border-color: darken($secundary, 5%);

		&:hover{
			background: darken($secundary,10%);
			color: #fff;
		} 			
	}

	&.success{
		background: $success;
		color: #fff;
		border-color: darken($success, 5%);

		&:hover{
			background: darken($success,10%);
			color: #fff;
		} 			
	}

	&.info{
		background: $info;
		color: #fff;
		border-color: darken($info, 5%);

		&:hover{
			background: darken($info,10%);
			color: #fff;
		} 			
	}

	&.danger{
		background: $danger;
		color: #fff;
		border-color: darken($danger, 5%);

		&:hover{
			background: darken($danger,10%);
			color: #fff;
		} 			
	}
}