.list{
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
	border-radius: $radius;

	li{
		background-color: #fff;
		line-height: 1.5rem;
		padding: 10px 20px;
		margin: 0;
		border-bottom: 1px solid #e0e0e0;
		list-style-type: none;

		&.active{
			background: $secundary;
			color: #fff;
		}
	}

	&.hover{
		li:hover{
			background: $default;
			cursor: pointer;

			&.active{
				background: $secundary;
			}
		}
	}
}