menu{
	width: 100%;
	float: left;
	border-right: 1px solid #eee;

	li{
		width: 100%;
		float: left;	
		list-style: none;

		a{
			width: 100%;
			float: left;
			text-decoration: none;
			padding: 10px;
			color: #000;
		}
	}
}
