@import "colors";

@keyframes fall3D {
	0%{
		visibility: hidden;
		-webkit-perspective: 1300px;
		-moz-perspective: 1300px;
		perspective: 1300px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-moz-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-ms-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		transform-origin: 50% 0;
		opacity: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	5%{
		visibility: visible;
		-webkit-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		-moz-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		-ms-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		opacity: 1;
	}
	95%{
		visibility: visible;
		-webkit-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		-moz-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		-ms-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		transform: translateX(-50%) translateY(-50%) rotateX(0deg);
		opacity: 1;
	}	
	100%{
		visibility: hidden;
		-webkit-perspective: 1300px;
		-moz-perspective: 1300px;
		perspective: 1300px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-moz-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-ms-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		transform-origin: 50% 0;
		opacity: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}

.message{
	position: fixed;
	top: 30px;
	right: 10px;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: $radius;
	background: $default;
	border: 1px solid darken($default, 5%);
	visibility: hidden;
	backface-visibility: hidden;
	animation: fall3D 5s forwards;

	&.primary{
		background: $primary;
		color: #fff;
		border-color: darken($primary, 5%);
	}

	&.secundary{
		background: $secundary;
		color: #fff;
		border-color: darken($secundary, 5%);
	}

	&.success{
		background: $success;
		color: #fff;
		border-color: darken($success, 5%);
	}

	&.info{
		background: $info;
		color: #fff;
		border-color: darken($info, 5%);
	}

	&.danger{
		background: $danger;
		color: #fff;
		border-color: darken($danger, 5%);
	}
}