@import "colors";

.modal{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	border-radius: $radius;
	background-color: #fafafa;
	padding: 0;
	box-shadow: 0 0 200px 1000px rgba(0,0,0,0.22);
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s;

	&.open{
		visibility: visible;
		transition: all 0.5s;
	}

	&.fade{
		opacity: 0;

		&.open{
			visibility: visible;
			opacity: 1;
		}
	}

	&.zoom-in{
		-webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
		-moz-transform: translateX(-50%) translateY(-50%) scale(0.7);
		-ms-transform: translateX(-50%) translateY(-50%) scale(0.7);
		transform: translateX(-50%) translateY(-50%) scale(0.7);
		opacity: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;

		&.open{
			-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
			-moz-transform: translateX(-50%) translateY(-50%) scale(1);
			-ms-transform: translateX(-50%) translateY(-50%) scale(1);
			transform: translateX(-50%) translateY(-50%) scale(1);
			opacity: 1;
		}
	}

	&.fall{
		-webkit-perspective: 1300px;
		-moz-perspective: 1300px;
		perspective: 1300px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-moz-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-ms-transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		transform: translateX(-50%) translateY(-50%)  rotateX(-60deg);
		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		transform-origin: 50% 0;
		opacity: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;

		&.open{
			-webkit-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
			-moz-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
			-ms-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
			transform: translateX(-50%) translateY(-50%) rotateX(0deg);
			opacity: 1;
		}
	}

	.title{
		font-size: 12pt;
		font-weight: bold;
		width: 100%;
		float: left;
		padding: 20px;
	}

	.content{
		width: 100%;
		float: left;
		padding: 20px;	
		overflow-y: auto; 
		max-height: 50%;
	}

	.footer{
		border-top: 1px solid rgba(160,160,160,0.2);
		padding: 20px;
		width: 100%;
		float: left;
		text-align: right;
	}
}