.pagination{
	display: inline-block;


	&.large{
		a{
			font-size: 14pt;
			width: 46px;
			height: 46px;
			line-height: 46px;

			[class*="icon"]{
				font-size: 12pt;
				width: 46px;
				height: 46px;
				line-height: 46px;
			}
		}

	}

	&.small{
		a{
			font-size: 10pt;
			width: 26px;
			height: 26px;
			line-height: 26px;

			[class*="icon"]{
				font-size: 8pt;
				width: 26px;
				height: 26px;
				line-height: 26px;
			}
		}
	}

	&.mini{
		a{
			font-size: 8pt;
			width: 20px;
			height: 20px;
			line-height: 20px;

			[class*="icon"]{
				font-size: 6pt;
				width: 20px;
				height: 20px;
				line-height: 46px;
			}
		}
	}

	li{
		border-top: 1px solid darken($default, 5%);
		border-right: 1px solid darken($default, 5%);
		border-bottom: 1px solid darken($default, 5%);
		display: inline-block;
		color: #000;
		cursor: pointer;
		font-size: 12pt;
		float: left;
		text-align: center;
		overflow: hidden;


		&:last-child{
			border-radius: 0 $radius $radius 0;
		}

		&:first-child{
			border-radius: $radius 0 0 $radius;
			border-left: 1px solid darken($default, 5%);
		}

		&.active{
			a{
				background: $default;
				cursor: initial;
			}
		}

		&.disable{
			opacity: 0.5;
		}

		&:not([class="active"]), &:not([class="disable"]){
			a{
				pointer-events: none;
				cursor: default;

				&:hover{
					background: $default;
				}
			}
		}

		a{
			color: #000;
			text-decoration: none;
			line-height: 30px;
			min-width: 30px;
			height: 30px;
			float: left;
			text-align: center;

			[class*="icon"]{
				line-height: 30px;
				min-width: 30px;
				height: 30px;
				font-size: 10pt;
			}


		}
	}


}