table{
	tr{
		th{
			border-bottom: 2px solid darken($default, 5%);
			padding: 5px 5px;
			font-weight: bold;
		}

		$colour-cout: 0;
		@each $color in $color-list{
			$colour-cout: $colour-cout + 1;
			$color-name: nth($color-list-name, $colour-cout);

			&.#{$color-name} {
				td{
					background: lighten($color, 40%);
				}
			}
		}

		td{
			border-bottom: 1px solid darken($default, 5%);;
			padding: 5px 5px;
		}
	}

	&.border{
		border: 1px solid darken($default, 5%);;
	}

	&.rouded{
		border-radius: $radius;
	}

	&.hover{
		tr:hover{
			td{
				background: $default;
			}
		}
	}
}