@import "colors";

$radius: 5px;

.theme-fx{
	background: $default linear-gradient(lighten($default,5%), darken($default, 5%));
	background-color: #default;
	box-shadow: 0px 0px 0px 1px $default inset, 0 2px 0 rgba(255, 255, 255, 0.15) inset;
	padding: 0px 20px;
	border-radius: $radius;
	border: 0;
	display: inline-block;
	min-height: 36px;
	color: #000;
	outline: none;
	border: none;
	vertical-align: baseline;
	font-size: 12pt;
	transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    text-shadow: none;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
    cursor: pointer;
}